<p>
  <mat-toolbar color="primary">
    <span>{{ 'title' | translate}}</span>
    <span class="spacer"></span> <!-- Añadir un espacio flexible para alinear a la derecha -->
    <span class="lang">{{actualLang}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLanguage('es')">
        <span>ES</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('en')">
        <span>EN</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<router-outlet />
